<div class="home-pic">
</div>

@{
    ViewBag.Title = "О нас";
}
<h2 class="header2">@ViewBag.Title</h2>
<!--<h3>@ViewBag.Message</h3>-->
<hr/>
<div>
    <h4 class="text-about">Умение быстро печатать на клавиатуре – очень полезный навык в современной жизни.
       Он понижает утомляемость, бережёт Вашу осанку и глаза, а также увеличивает производительность сравнительно с двупальцевым методом печати. 
    </h4>
</div>
<br/>

<div class="tab-content">

    <center><h3 class="font-h2">Это интересно!</h3></center>
   <br/>
                    <div class="background-blue">
                        <div class="tab-pane active stage-container" id="tab1">

                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages-interesting">
                                    <h4><center>При десятипальцевом методе набора скорость печати составляет 300-400 символов в минуту.</center></h4>
                                </div>
                            </div>

                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages-interesting">
                                    <h4><center> При двупальцевом наборе скорость обычно не привышает 200 знаков в минуту.</center></h4>
                                </div>
                            </div>

                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages-interesting">
                                    <h4><center> На международных чемпионатах по наборе незнакомых текстов зафиксирован результат в  896 знаков в минуту.</center></h4>
                                </div>
                            </div>

                        </div>
                    </div>
</div>
<br/>

    <center><h3 class="font-h2">У нас Вы сможете:</h3> </center>
    <div class="tab-content">
        <div class="tab-pane active stage-container" id="tab1">

            <div class="col-xs-6 col-md-4 ">
                <div class="stages">
                    <h2 class="stage-name"><i class="fa fa-graduation-cap"></i> Уроки</h2>
                    <br />
                        <h4><center> Начните с азов и пройдите полный курс обучения, постепенно двигаясь от урока к уроку.</center><h4>
                </div>
            </div>

            <div class="col-xs-6 col-md-4 ">

                <div class="stages">
                    <h2 class="stage-name"> <i class="fa fa-gamepad"></i> Раунды</h2>
                    <br />
                        <h4><center> Проходите соревнования на время, повышая свой рейтинг на сайте и зарабатывая награды.</center><h4>
                </div>
            </div>

            <div class="col-xs-6 col-md-4 ">
                <div class="stages">
                    <h2 class="stage-name"><i class="fa fa-keyboard-o"></i> Одиночная печать</h2>
                    <br />
                        <h4><center> Вам надоели стандартные тексты? Загружайте свой текст и тренируйтесь печатать на нём!</center><h4>
                </div>
            </div>

        </div>
        <br />

    </div>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/FortAwesome/css/font-awesome.css" rel="stylesheet" />



