@{
    ViewBag.Title = "Home Page";

}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>

    </div>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/FortAwesome/css/font-awesome.css" rel="stylesheet" />


@if (!User.Identity.IsAuthenticated)
{
    <div class="home-pic">
    </div>
    <div class=" home-1 ">
            <div class="container">
                <iframe class="visible-xs" width=300 height=170 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
                <iframe class="visible-sm" width=720 height=405 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
                <iframe class="visible-md" width=940 height=529 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
                <iframe class="visible-lg" width=1140 height=641 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
}
else
{<div style="height:50px;"></div>
    <div class="container">

        <div class="row" style="margin-top:20px;">
            <div class="tabbable">
                <ul class="nav row text-center stage-tab-container">
                    <li class="active col-xs-12 stage-tab"><a href="#tab1" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Обучение</a></li>
                    @*<li class="col-xs-4 stage-tab"><a href="#tab2" data-toggle="tab"><i class="fa fa-gamepad"></i> Соревнование</a></li>
                    <li class="col-xs-4 stage-tab"><a href="#tab3" data-toggle="tab"><i class="fa fa-keyboard-o"></i> Одиночная печать</a></li>*@
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active stage-container" id="tab1">
                        @* Все что внутри foreach - это отдельный квадратик, stage. По сути имеется три разных набора квадратиков,
                            но дизайн у них один, по этому придется дублировать один и тот же код внутри каждого цикла*@
                        @foreach (var stage in ViewBag.Learning)
                        {
                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages">
                                    <h2 class="stage-capation"><center>@stage.StageName</center></h2>
                                    @{ int full = stage.Complexity; int empty = 5 - full;}
                                    <p class="stage-complexity">
                                        @while (empty > 0)
                                        {
                                            <i class=" fa fa-star"></i>
                                            --empty;
                                        }
                                        @while (full > 0)
                                        {
                                            <i class="fa fa-star-o"></i>
                                            --full;
                                        }
                      
                                    </p>


                                    <a class="btn stage-start-btn" href="../Stage/Index/@stage.StageId">Начать</a>

                                </div>
                            </div>
                                        }
                    </div>


                    @*<div class="tab-pane stage-container" id="tab2">

                        @foreach (var stage in ViewBag.Competiton)
                {
                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages">
                                    <h2 class="stage-capation"><center>@stage.StageName</center></h2>
                                    @{ int full = stage.Complexity; int empty = 5 - full;}
                                    <p class="stage-complexity">
                                        @while (empty > 0)
                                        {
                                            <i class=" fa fa-star"></i>
                                            --empty;
                                        }
                                        @while (full > 0)
                                        {
                                            <i class="fa fa-star-o"></i>
                                            --full;
                                        }
                                    </p>

                                    <button class="btn stage-start-btn">Начать</button>
                                </div>
                            </div>
                                        }
                    </div>
                    <div class="tab-pane stage-container" id="tab3">

                        @foreach (var stage in ViewBag.SingleType)
                {
                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages">
                                    <h2 class="stage-capation"><center>@stage.StageName</center></h2>
                                    @{ int full = stage.Complexity; int empty = 5 - full;}
                                    <p class="stage-complexity">
                                        @while (empty > 0)
                                        {
                                            <i class=" fa fa-star"></i>
                                            --empty;
                                        }
                                        @while (full > 0)
                                        {
                                            <i class="fa fa-star-o"></i>
                                            --full;
                                        }
                                    </p>

                                    <a class="btn stage-start-btn">Начать</a>
                                </div>
                            </div>
                                        }
                    </div>*@
                </div>
            </div>
        </div>
    </div>
                                        }
