@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>

    </div>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/FortAwesome/css/font-awesome.css" rel="stylesheet" />

@if (!User.Identity.IsAuthenticated)
{
    <div class="col-sm-offset-3 col-sm-6">
        <iframe class="visible-xs center-block" width=300 height=170 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        <iframe class="visible-sm center-block" width=375 height=211 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        <iframe class="visible-md center-block" width=485 height=274 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        <iframe class="visible-lg center-block" width=585 height=329 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
    </div>
}
else
{
    <div class="container">

        <div class="row" style="margin-top:20px;">
            <div class="tabbable">
                <ul class="nav row text-center stage-tab-container">
                    <li class="active col-xs-4 stage-tab"><a href="#tab1" style="color:black;" data-toggle="tab"><i class="fa fa-graduation-cap"></i> Обучение</a></li>
                    <li class="col-xs-4 stage-tab"><a href="#tab2" style="color:black;" data-toggle="tab"><i class="fa fa-gamepad"></i> Соревнование</a></li>
                    <li class="col-xs-4 stage-tab"><a href="#tab3" style="color:black;" data-toggle="tab"><i class="fa fa-keyboard-o"></i> Одиночная печать</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active stage-container" id="tab1">
                        @* Все что внутри foreach - это отдельный квадратик, stage. По сути имеется три разных набора квадратиков,
                            но дизайн у них один, по этому придется дублировать один и тот же код внутри каждого цикла*@
                        @foreach (var stage in ViewBag.Learning)
                        {
                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages">
                                    <h2 class="stage-name">@stage.StageName</h2>
                                    @{ int full = stage.Complexity; int empty = 5 - full;}
                                    <p class="stage-complexity">
                                        @while (full > 0)
                                        {
                                            <i class=" fa fa-star-o"></i>
                                            --full;
                                        }
                                        @while (empty > 0)
                                        {
                                            <i class=" fa fa-star"></i>
                                            --empty;
                                        }
                                    </p>


                                    <button class="btn btn-warning stage-start-btn">Начать</button>

                                </div>
                            </div>
                                        }
                    </div>


                    <div class="tab-pane stage-container" id="tab2">

                        @foreach (var stage in ViewBag.Competiton)
                {
                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages">
                                    <h2 class="stage-name">@stage.StageName</h2>
                                    @{ int full = stage.Complexity; int empty = 5 - full;}
                                    <p class="stage-complexity">
                                        @while (full > 0)
                                        {
                                            <i class=" fa fa-star-o"></i>
                                            --full;
                                        }
                                        @while (empty > 0)
                                        {
                                            <i class=" fa fa-star"></i>
                                            --empty;
                                        }
                                    </p>

                                    <button class="btn btn-warning stage-start-btn">Начать</button>
                                </div>
                            </div>
                                        }
                    </div>
                    <div class="tab-pane stage-container" id="tab3">

                        @foreach (var stage in ViewBag.SingleType)
                {
                            <div class="col-xs-6 col-md-4 ">
                                <div class="stages">
                                    <h2 class="stage-name">@stage.StageName</h2>
                                    @{ int full = stage.Complexity; int empty = 5 - full;}
                                    <p class="stage-complexity">
                                        @while (full > 0)
                                        {
                                            <i class=" fa fa-star-o"></i>
                                            --full;
                                        }
                                        @while (empty > 0)
                                        {
                                            <i class=" fa fa-star"></i>
                                            --empty;
                                        }
                                    </p>

                                    <a class="btn btn-warning stage-start-btn">Начать</a>
                                </div>
                            </div>
                                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
                                        }
