@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>

    </div>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

@if (!User.Identity.IsAuthenticated)
{
    <div class="col-sm-offset-3 col-sm-6 ">
        <iframe class="visible-xs" width=400 height=200 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        <iframe class="visible-sm" width=450 height=250 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        <iframe class="visible-md" width=500 height=300 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        <iframe class="visible-lg" width=1280 height=720 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
    </div>
}
else
{
    <div class="container">

        <div class="row" style="margin-top:20px;">
            <div class="tabbable">
                <ul class="nav row text-center ">
                    <li class="active col-xs-4 thumbnail"><a href="#tab1" data-toggle="tab">Обучение</a></li>
                    <li class="col-xs-4 thumbnail"><a href="#tab2" data-toggle="tab">Соревнование</a></li>
                    <li class="col-xs-4 thumbnail"><a href="#tab3" data-toggle="tab">Одиночная печать</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active stage-container" id="tab1">
                        <div class="stage">

                        </div>
                        @foreach (var t in ViewBag.Learning)
                        {

                        }
                    </div>
                    <div class="tab-pane stage-container" id="tab2">

                        @foreach (var t in ViewBag.Competiton)
                        {

                        }
                    </div>
                    <div class="tab-pane stage-container" id="tab3">

                        @foreach (var t in ViewBag.SingleType)
                        {

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
