@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>

    </div>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap.js"></script>

<div class="container">
    <div class=" row">
        <div class="col-sm-offset-3 col-sm-6">
            <iframe class="visible-desktop" width=120 height=20 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
            <iframe class="visible-tablet" width=120 height=20 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
            <iframe class="visible-phone" width=120 height=20 src="https://www.youtube.com/embed/q4Gzii_FbHQ?list=PLypd1VrGv7FPokhw3f5pwBQTHsU9T2mBq" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">

    </div>
</div>
