@{
    ViewBag.Title = "Confirm Email";
}
<br/><br/><br/>
<h2 class="header2">@ViewBag.Title</h2>
<div>
    <p class="header2">
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
