body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.well {
    box-shadow: 0px 10px 20px #000;
}

.promo-video {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.stage-container {
    margin-top: 20px;
    background-color: transparent;
}

.stages {
    height: 200px;
    background-color: #669297;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.stage-name {
    text-align: center;
}

.stage-complexity {
    text-align: center;
}

.stage-start-btn {
    width: 100%;
}

.stage-tab-container {
    height: 80px;
}

.stage-tab {
    font-family: Verdana;
    font-size: 20px;
}

    .stage-tab a {
        background-color: #bf874c;
        height: 100%;
        vertical-align: middle;
    }

.input-group-addon {
    min-width: 150px;
    text-align: left;
}

.btn-success {
    background-color: #5FCEC0;
    border-style: none;
}

    .btn-success:hover {
        background-color: #77E6D7;
    }

.passing-stage {
    background-color: #1b3338;
    height: 500px;
    border: 1px solid #caccc1;
    border-left: 0;
    border-right: 0;
}

.fluid {
    width: 100%;
}

.display {
    padding:0 10px;
    margin: 0 auto;
    width: 752px;
    background-color: white;
    height: 50px;
    border: 2px solid gray;
    border-radius:0.7em;
}
.field{ 
    margin:7.5px;
    height:35px;    
}
.display span
{
    white-space:pre;
    font-size:25px;
    float:left;
    display:inline-block;
}
.fCursor{
    height:32px;
    margin:auto 0;
    line-height:50px;
    float:left;
    display:inline-block;
    white-space:pre;
    display:inline;
    border-right:1px solid #626262;
    padding:0;
    visibility:hidden;
}


.keyboard {
    background-color: #669297;
    height: 267px;
    width: 752px;
    padding: 9px;
    border-radius: 0.7em;
    margin: 0 auto;
}

.key {
    width: 47px;
    height: 47px;
    border: 1px solid #5c5b5b;
    background-color: lightgray;
    color: black;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    display: inline-block;
    
    margin-top: 3px;

}

.key1 {
    background-color: #78e2aa;
    
}

.key2 {
    background-color: #63e3ff;
   
}

.key3 {
    background-color: #b0e86a;
    
}

.key4 {
    background-color: #ffc07e;
}

.key5 {
    background-color: #ffef7e;
   
}

.not-done{
    color:black;
}
.done{
    color:darkgray;
}
