body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.well {
    box-shadow: 0px 10px 20px #000;
}



.stage-container {
    margin-top: 20px;
    background-color: transparent;
}

.stages {
    height: 200px;
    background-color: #383B43;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    color: #ffffff;
    border-radius: 7px;
}

.stage-name {
    text-align: center;
}

.stage-complexity {
    text-align: center;
}

.stage-start-btn {
    width:50%;
    margin-left:25%;
    margin-top: 20px;
    background-color: #3CADD4;
    border-radius: 15px;
    border-style: none;
    color: #ffffff;
}
.stage-start-btn:focus{
    color:#ffffff;
}
    .stage-start-btn:hover {
        background-color: #81D1EC;
        color:white;
    }

.stage-tab-container {
    height: 80px;
    padding-left: 17px;
    padding-right: 17px;
}

.stage-tab {
    margin-top: 15px;
    font-family: Verdana;
    font-size: 20px;
}

    .stage-tab a {
        background-color: #3CADD4;
        height: 100%;
        vertical-align: middle;
        border-radius: 7px;
        color:white;
    }

.login-btn{
    width:100%;
    background-color:#3CADD4;
    color: #ffffff;
    padding:5px;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #81D1EC;
    color:#ffffff;
}
.input-group-addon {
    min-width: 150px;
    text-align: left;
}

.passing-stage {
    background-color: #1b3338;
    height: 500px;
    border: 1px solid #caccc1;
    border-left: 0;
    border-right: 0;
}

.keyboard-container {
    background-color: #C3E8F5;
    border-bottom: 1px solid gray;
    padding: 40px;
}

.fluid {
    width: 100%;
}

.display {
    padding: 0 10px;
    margin: 10px auto;
    width: 752px;
    background-color: white;
    height: 50px;
    border: 2px solid gray;
}

.field {
    margin: 7.5px;
    height: 35px;
}

.display span {
    white-space: pre;
    font-size: 25px;
    float: left;
    display: inline-block;
}

.fCursor {
    height: 32px;
    margin: auto 0;
    line-height: 50px;
    float: left;
    display: inline-block;
    white-space: pre;
    display: inline;
    border-right: 1px solid gray;
    padding: 0;
    visibility: hidden;
}


.keyboard {
    background-color: #AABEC5;
    height: 267px;
    width: 752px;
    padding: 9px;
    border-radius: 0.7em;
    margin: 10px auto;
}

.key {
    width: 47px;
    height: 47px;
    border: 1px solid #5c5b5b;
    background-color: lightgray;
    color: black;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 3px;
}

.key1 {
    background-color: #78e2aa;
}

.key2 {
    background-color: #63e3ff;
}

.key3 {
    background-color: #b0e86a;
}

.key4 {
    background-color: #ffc07e;
}

.key5 {
    background-color: #ffef7e;
}

.not-done {
    color: black;
}

.done {
    color: darkgray;
}

.home-pic {
    height: 350px;
    background: #EEE url("pics/home-pic-1.png") top center no-repeat;
}

.home-1 {
    height: 800px;
    background-color: #eee;
}
.header-aero-style {
    background-color: rgba( 0, 0,0, 0.7);
    filter:blur(10px) grayscale(20%);
}
.social-buttons {
    z-index:999;
    background-color: transparent;
    border-style: none;
        /*border:2px solid transparent;*/
}
какойто из этих - контрастных
    .social-buttons:hover,
    .social-buttons:focus {
    background-color: rgba( 191, 227,254, 0.3);
    
        /*border:2px solid white;*/
    }
.small-logo{
    height:36px;
    width:36px;
    margin:-8px 5px;
}
 
.manage-container{
    margin-top:50px;
    border-left:2px solid black;
}

.level-container{
    width:100%;
    height:70px;
    background-color:#c7edfc;
    padding:7px;
    margin-left:-15px;
    margin-bottom:10px;
    border-radius:3px;
}
.level-num{
    height:40px;
    width:40px;
    background-color:rgba(0,0,0,0.2);
    font-family: Impact; 
    font-size:25px;
    color:white;
    text-align:center;
    line-height:40px;
}
.rating-bar{
    width:100%;
    height:10px;
    background-color:#eee;
    margin-top:10px;
}

.level-text{
    font-size:25px;
}
.rating-1{
    height:10px;
    background-color:rgb(56,100,163);
}
.user-photo{
    max-height:500px;
    margin:0;
    margin-left:10px;
    float:right;
}
.manage-input{
    width:400px;
    display:inline-block;
    float:right;
}
.manage-input-group{
    margin:10px;
    width:50%;
}
.manage-input-container{
    width:70%;
}