body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.well {
    box-shadow: 0px 10px 20px #000;
}

.stage-container {
    margin-top: 20px;
    background-color: transparent;
}

.stages {
    height: 200px;
    background-color: #383B43;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    color: #eee;
    border-radius: 7px;
}

.stage-name {
    margin:10px;
    text-align: center;
    font-size:20px;
}

.stage-complexity {
    text-align: center;
}

.stage-start-btn {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    background-color: #CBE0F9 /*3CADD4*/;
    border-radius: 15px;
    border-style: none;
    color: #000;
}

    .stage-start-btn:focus {
        color: #000;
    }

    .stage-start-btn:hover {
        background-color: #D7EBFF;
        color: #000;
        /*background-color: #ffffff;
    color: #3CADD4;*/
    }

.stage-tab-container {
    height: 80px;
    padding-left: 17px;
    padding-right: 17px;
}

.stage-tab {
    margin-top: 15px;
    font-family: Verdana;
    font-size: 20px;
}

    .stage-tab a {
        background-color: #CBE0F9 /*3CADD4*/;
        height: 100%;
        vertical-align: middle;
        border-radius: 7px;
        color: #000;
    }

.login-btn {
    width: 100%;
    background-color: #CBE0F9 /*#3CADD4*/;
    color: #000;
    padding: 5px;
    border: 1px solid lightgray;
}

    .login-btn:hover,
    .login-btn:focus {
        background-color: #D7EBFF;
        color: #000;
        border: 1px solid lightgray;
    }

.input-group-addon {
    min-width: 150px;
    text-align: left;
}

.passing-stage {
    background-color: #1b3338;
    height: 500px;
    border: 1px solid #caccc1;
    border-left: 0;
    border-right: 0;
}

.keyboard-container {
    background-color: #CBE0F9 /*#D7EBFF #D0E8FE #77e9ae*/;
    border-bottom: 1px solid gray;
    padding: 40px;
}

.fluid {
    width: 100%;
}

.display {
    padding: 0 10px;
    margin: 10px auto;
    width: 752px;
    background-color: white;
    height: 50px;
    border: 2px solid gray;
    border-radius: 7px;
}

.field {
    margin: 7.5px;
    height: 35px;
}

.display span {
    white-space: pre;
    font-size: 25px;
    float: left;
    display: inline-block;
}

.fCursor {
    height: 32px;
    margin: auto 0;
    line-height: 50px;
    float: left;
    display: inline-block;
    white-space: pre;
    display: inline;
    border-right: 1px solid gray;
    padding: 0;
    visibility: hidden;
}


.keyboard {
    background-color: #eeeeee /*#E1D9D9*/ /*ECF2FA*/;
    height: 267px;
    width: 752px;
    padding: 9px;
    border-radius: 0.7em;
    margin: 10px auto;
    box-shadow: 0px 10px 20px #000;
}

.key {
    width: 47px;
    height: 47px;
    border: 1px solid #5c5b5b;
    background-color: #E9BCFE;
    color: black;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 3px;
}

.key1 {
    background-color: #A3CDFF;
}

.key2 {
    background-color: #9BF4FE;
}

.key3 {
    background-color: #B7F59E;
}

.key4 {
    background-color: #FFD17D;
}

.key5 {
    background-color: #FDFF8B;
}

.not-done {
    color: black;
}

.done {
    color: darkgray;
}

.home-pic {
    height: 350px;
    background: #EEE url("pics/home-pic-1.png") top center no-repeat;
}

.home-1 {
    height: 800px;
    background-color: #eee;
}

.header-aero-style {
    background-color: rgba( 0, 0,0, 0.7);
    filter: blur(10px) grayscale(20%);
}

.social-buttons {
    z-index: 999;
    background-color: transparent;
    border-style: none;
    /*border:2px solid transparent;*/
}
/*.social-buttons:hover,
    .social-buttons:focus {
background-color: white;
color: #3CADD4;*/
/*rgba( 191, 227,254, 0.3)*/

/*border:2px solid white;*/
/*}*/
.small-logo {
    height: 30px;
    width: 30px;
    margin: -4px 5px;
    margin-right: 15px;
}

.font-h2 {
    font-weight: bold;
}

.manage-container {
    margin-top: 65px;
    border-left: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
}

.level-container {
    width: 100%;
    height: 75px;
    background-color: #CBE0F9 /*#c7edfc*/;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.level-num {
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,0.2);
    font-family: Impact;
    font-size: 25px;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
}

.rating-bar {
    width: 100%;
    height: 10px;
    background-color: #eee;
    margin-top: 10px;
}

.level-text {
    font-size: 25px;
}

.rating-1 {
    height: 10px;
    background-color: rgb(56,100,163);
}

.user-photo {
    max-height: 500px;
    margin: 0 auto;
}

.manage-input {
    width: 400px;
    display: inline-block;
    float: right;
}

.manage-input-group {
    margin: 10px;
    width: 50%;
}

.manage-input-container {
    width: 70%;
    margin-bottom:20px;
    padding:10px;
}

.text-about {
    margin-left: 25px;
    margin-right: 25px;
}

.background-blue {
    /*margin-right:15px;
    margin-left:15px;*/
    height: 145px;
    background-color: #CBE0F9 /*3CADD4*/;
    /*border-radius:7px;*/
    margin-top: -20px;
}

.stages-interesting {
    height: 95px;
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding: 10px;
    color: #383B43;
    border-radius: 7px;
}

.change-btn {
    margin-left: 30px;
    margin-right: -15px;
    background-color: #CBE0F9 /*#3CADD4*/;
    color: #000;
    border: 1px solid lightgrey;
}

    .change-btn:hover {
        background-color: #D7EBFF;
        color: #000;
    }

.font-h1 {
    color: #383B43;
}

.header {
    margin-left: 30px;
    font-weight: bold;
}

.header2 {
    margin-left: 30px;
}

.my-footer {
    background-color: rgba( 0, 0,0, 0.7);
    color: #eeeeee;
    padding: 10px;
}

    .my-footer img {
        display: block;
        width: 60px;
        height: 60px;
        margin: 10px auto;
    }

.change-password-container {
    margin-top: 50px;
}



.white-box {  
    opacity:1;
    display:none;
    height: 230px;
    width: 500px;
    position: absolute;
    top: calc(50% - 115px);
    left: calc(50% - 250px);
    background-color:white;
    
    box-shadow: 0px 10px 20px #000;
    border-radius: 7px;
    padding: 25px;
    text-align: center;
}
.white-box button
{
    float:right;
}

.text-p {
    font-size: 18px;
    color: grey;
    text-align: left;
}

.text-span {
    color: black;
}
.stage-desc div{
    text-align:center;
    width:90%;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#D7EBFF;
    border-radius:3px;
    font-size:20px;
}
.stage-desc{
    padding:10px;
}
.passed-stage{
    text-align:center;
    
}
.stage-advice{
    margin:10px;
    background-color:#D7EBFF;
    font-size:17px;
    padding:8px;
    border:2px solid #428BCA;
    border-radius:7px;
}
.is-pass{
    font-size:20px;
}