
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2>@ViewBag.Current.StageName</h2>



<div class="display">
    
</div>
<br />
<div class="keyboard table"  >
    <div>
        <div class="key letter">ё</div>
        <div class="key key1" id="1">1</div>
        <div class="key key1" id="2">2</div>
        <div class="key key2" id="3">3</div>
        <div class="key key3" id="4">4</div>
        <div class="key key4" id="5">5</div>
        <div class="key key4" id="6">6</div>
        <div class="key key5" id="7">7</div>
        <div class="key key3" id="8">8</div>
        <div class="key key2" id="9">9</div>
        <div class="key key1" id="0">0</div>
        <div class="key key1" id="-">-</div>
        <div class="key key1" id="=">=</div>
        <div class="key" style="width:70px;">←</div>
    </div>
    <div>
        <div class="key " style="width:70px; padding-left:12px; text-align:left;">Tab</div>

            <div class="key key1 letter">й</div>
            <div class="key key2 letter">ц</div>
            <div class="key key3 letter">у</div>
            <div class="key key4 letter">к</div>
            <div class="key key4 letter">е</div>
            <div class="key key5 letter">н</div>
            <div class="key key5 letter">г</div>
            <div class="key key3 letter">ш</div>
            <div class="key key2 letter">щ</div>
            <div class="key key1 letter">з</div>
            <div class="key key1 letter">х</div>
            <div class="key key1 letter">ъ</div>

        <div class="key" id="\">\</div>
    </div>
    <div>
        <div class="key " style="width:83px; padding-left:12px; text-align:left;">Caps</div>

            <div class="key key1 letter">ф</div>
            <div class="key key2 letter">ы</div>
            <div class="key key3 letter">в</div>
            <div class="key key4 letter">а</div>
            <div class="key key4 letter">п</div>
            <div class="key key5 letter">р</div>
            <div class="key key5 letter">о</div>
            <div class="key key3 letter">л</div>
            <div class="key key2 letter">д</div>
            <div class="key key1 letter">ж</div>
            <div class="key key1 letter">э</div>

        <div class="key " style="width:86px; padding-right:12px; text-align:right;">Enter</div>
    </div>
    <div>

        <div class="key " style="width:110px;  padding-left:12px; text-align:left;">Shift</div>

            <div class="key key1 letter" >я</div>
            <div class="key key2 letter" >ч</div>
            <div class="key key3 letter" >с</div>
            <div class="key key4 letter" >м</div>
            <div class="key key4 letter" >и</div>
            <div class="key key5 letter" >т</div>
            <div class="key key5 letter" >ь</div>
            <div class="key key3 letter" >б</div>
            <div class="key key2 letter" >ю</div>

        <div class="key key1" id=".">.</div>
        <div class="key " style="width:109px; padding-right:12px; text-align:right;">Shift</div>
    </div>

    <div style="text-align:center;">
        <div class="key " style="width:270px; "></div>
    </div>

</div>


<script>

    isUpper = false;


    onkeypress = function (e) {
        e = e || event;

        if (e.ctrlKey || e.altKey || e.metaKey) return;

        if (e.shiftKey) {
            isUpper = true;
            return;
        }
        
        ch = getChar(e);
        if (ch == null) return;

        
    }


</script>

<script>

    function setShiftDown() {
        if (event.shiftKey) 
        {

            var elem = document.getElementsByClassName("letter");
            for (var i = 0; i < elem.length; i++)
            {
                elem[i].c
                elem[i].textContent = elem[i].textContent.toUpperCase();
            }
            document.getElementById(1).textContent = "!";
            document.getElementById(2).textContent = "\"";
            document.getElementById(3).textContent = "№";
            document.getElementById(4).textContent = ";";
            document.getElementById(5).textContent = "%";
            document.getElementById(6).textContent = ":";
            document.getElementById(7).textContent = "?";
            document.getElementById(8).textContent = "*";;
            document.getElementById(9).textContent = "(";
            document.getElementById(0).textContent = ")";
            document.getElementById("-").textContent = "_";
            document.getElementById("=").textContent = "+";
            document.getElementById("\\").textContent = "/";
            document.getElementById(".").textContent = ",";
        }
    };
    function setShiftUp() 
    {
        if (!event.shiftKey)
        {
            var elem = document.getElementsByClassName("letter");
            for (var i = 0; i < elem.length; i++)
            {
                elem[i].textContent = elem[i].textContent.toLowerCase();
            }
            document.getElementById(1).textContent = "1";
            document.getElementById(2).textContent = "2";
            document.getElementById(3).textContent = "3";
            document.getElementById(4).textContent = "4";
            document.getElementById(5).textContent = "5";
            document.getElementById(6).textContent = "6";
            document.getElementById(7).textContent = "7";
            document.getElementById(8).textContent = "8";;
            document.getElementById(9).textContent = "9";
            document.getElementById(0).textContent = "0";
            document.getElementById("-").textContent = "-";
            document.getElementById("=").textContent = "=";
            document.getElementById("\\").textContent = "\\";
            document.getElementById(".").textContent = ".";
        }
    }
    
    document.onkeydown = setShiftDown;
    document.onkeyup = setShiftUp;
</script>
